<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.shop.backservlet.BaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.shop.backservlet.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsTypeServlet</servlet-name>
    <servlet-class>com.shop.backservlet.GoodsTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.shop.backservlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.shop.backservlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FlowerTypeServlet</servlet-name>
    <servlet-class>com.shop.backservlet.FlowerTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FlowerUseServlet</servlet-name>
    <servlet-class>com.shop.backservlet.FlowerUseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FlowerNumServlet</servlet-name>
    <servlet-class>com.shop.backservlet.FlowerNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsTypeFrontServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.GoodsTypeFrontServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsFrontServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.GoodsFrontServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FrontBaseServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.FrontBaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserFrontServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.UserFrontServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.AddressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderFrontServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.OrderFrontServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderBackServlet</servlet-name>
    <servlet-class>com.shop.backservlet.OrderBackServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReviewFrontServlet</servlet-name>
    <servlet-class>com.shop.frontservlet.ReviewFrontServlet</servlet-class>
  </servlet>








  












  
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsTypeServlet</servlet-name>
    <url-pattern>/GoodsTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlowerTypeServlet</servlet-name>
    <url-pattern>/FlowerTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlowerUseServlet</servlet-name>
    <url-pattern>/FlowerUseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlowerNumServlet</servlet-name>
    <url-pattern>/FlowerNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsTypeFrontServlet</servlet-name>
    <url-pattern>/GoodsTypeFrontServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsFrontServlet</servlet-name>
    <url-pattern>/GoodsFrontServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontBaseServlet</servlet-name>
    <url-pattern>/FrontBaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserFrontServlet</servlet-name>
    <url-pattern>/UserFrontServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderFrontServlet</servlet-name>
    <url-pattern>/OrderFrontServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderBackServlet</servlet-name>
    <url-pattern>/OrderBackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewFrontServlet</servlet-name>
    <url-pattern>/ReviewFrontServlet</url-pattern>
  </servlet-mapping>
 	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
